.Calendar {
	margin-top: 2rem;
	min-width: 10rem;

	.Header {
		.Button {
			@include Button();
			background-color: transparent;
		}

		.LabelButton {
			@include Button();
			background-color: transparent;
			min-width: 8.5rem;

			label {
				font-size: 1.1rem;
				font-weight: 600;
			}
		}
	}

	.WeekLabels {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;

		.WeekLabel {
			font-size: 0.8rem;
			font-weight: 700;
			color: $TextDark;

			min-width: 20px;
		}
	}

	.Weeks {
		margin-top: 0.5rem;

		.Week {
			.Day {
				@include Button();

				background-color: transparent;
				min-width: 25px;
				min-height: 25px;
				margin: 2px;
				padding: 4px;
				border-radius: 2rem;

				label {
					font-size: 0.75rem;
					font-weight: 600;
				}

				&.Gray {
					color: $TextDark;
				}

				&.Today {
					background-color: $SelectedBg;
				}

				&.Selected:not(.Today) {
					min-width: 23px;
					min-height: 23px;
					padding-top: 3px;
					padding-bottom: 0;

					border: 1px solid $SelectedBg;
				}

				padding-bottom: 1px;
			}
		}
	}
}