.Events {
	.Event {
		.VPill {
			min-width: 0.25rem;
			border-radius: 0.25rem;
			margin-right: 0.5rem;
		}

		.Time {
			color: darken($Text, 15%);
		}

		.Summary {
			font-weight: 600;
		}
	}

	.NoEvents {
		color: darken($Text, 5%);
		font-size: 1.05rem;
		font-weight: 600;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}