@use "sass:color";

.WorkspaceIndicator {
    min-width: 4px;
    min-height: 4px;
    margin: 5px 6px 7px 0;
    border-radius: 16px;
    background-color: transparent;

    border: 1px solid color.adjust($Text, $lightness: -50%);

    &.Windows {
        background-color: color.adjust($Text, $lightness: -50%);
    }

    &.Last {
        margin-right: 0;
    }
}

.SliderSegment {
    transition: all 0.1s ease-in-out;
    background-color: $Text;
    border-radius: 3px;
    min-height: 6px;
    margin: 9px 0 3px 0;

    &.Current {
        margin-right: 6px;
        margin-left: 6px;
    }
}
