@use "sass:color";
@use "../colors.scss";

$Dot: color.adjust(colors.$TextDark, $lightness: -12.5%);

.WorkspaceIndicator {
    min-width: 4px;
    min-height: 4px;

    border-radius: 100%;
    border: $Dot 1px solid;

    &.Windows {
        background-color: $Dot;
    }
}

.SliderDrawing {
    min-height: 6px;
    min-width: 114px;

    margin-bottom: 7px;
}

.ActiveWorkspace {
    padding-top: 10px;
    padding-bottom: 10px;
}
