.WorkspaceIndicator {
	min-width: 4px;
	min-height: 4px;
	margin: 5px 6px 7px 0;
	border-radius: 16px;
	background-color: transparent;

	border: 1px solid darken($Text, 50%);

	&.Windows {
		background-color: darken($Text, 50%);
	}

	&.Last {
		margin-right: 0;
	}
}

.SliderSegment {
	transition: min-width 0.1s linear, background-color 0s linear;
	background-color: $Text;
	border-radius: 3px;
	min-height: 6px;
	margin: 9px 0 3px 0;

	&.Current {
		margin-right: 6px;
		margin-left: 6px;
	}
}