@import '../prelude';

window#barmenu .BarMenuBox {
	background-color: darken($BackdropBase, 5%);
	padding: 1rem;
	border-radius: 1rem;
	margin-top: 0.75rem;
	min-width: 50rem;
	min-height: 52.5rem;
	border: 2px solid rgba(40, 40, 40, 25);

	@import './notifications';
	@import './datemenu';
}