@use "sass:color";

$Backdrop: #000000;
$Background: #242424;
$Card1: color.adjust($Background, $lightness: 5%);
$Card2: color.adjust($Card1, $lightness: 5%);

$Text: #fff;
$TextDark: #77767b;

@function hover($color) {
    @return color.adjust($color, $lightness: 3%);
}

@function click($color) {
    @return color.adjust($color, $lightness: 7.5%);
}

@function open($color) {
    @return color.adjust($color, $lightness: 5%);
}
