@use "sass:color";
@use "colors.scss";

.text {
    font-size: medium;
    color: colors.$Text;
}

.text-sub {
    font-size: smaller;
    color: colors.$TextDark;
}

.text-lg {
    @extend .text;

    font-size: 1.2rem;
}

@mixin interactable(
    $bg: colors.$Background,
    $hover: colors.hover($bg),
    $click: colors.click($bg),
    $open: colors.open($bg),
    $set-bg: true
) {
    @if $set-bg {
        background-color: $bg;
    }

    transition: all 0.15s ease;

    &:hover {
        background-color: $hover;
    }

    &:active {
        background-color: $click;
    }

    &.open {
        background-color: $open;
    }
}

$BorderRadius: 0.5rem;
