@use "sass:color";
@use "colors";

.TextMain {
    font-family: "Cantarell";
    font-size: medium;
    color: colors.$Text;
}

.TextSub {
    font-family: "Cantarell";
    font-size: smaller;
    color: colors.$TextDark;
}

.TextLarge {
    font-size: 1.2rem;
}

@mixin Interactable($bg: colors.$Background, $set-bg: true) {
    @if $set-bg {
        background-color: $bg;
    }

    transition: all 0.1s ease;

    &.Hover {
        background-color: colors.hover($bg);
    }

    &.Click {
        background-color: colors.click($bg);
    }

    &.Active {
        background-color: colors.active($bg);
    }
}

$BorderRadius: 0.5rem;
